<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Title | default .Site.Title }}</title>
    <link rel="canonical" href="{{ .Permalink }}">
    <meta name="description" content="{{.Description | default .Summary }}">

    <link rel="manifest" href="/site.webmanifest">
    <link rel="apple-touch-icon" href="/icon.png">

<style>{{ partial "styles.pure.css" . | safeCSS }}</style>

    <meta name="theme-color" content="#fafafa">
    {{ template "_internal/opengraph.html" . }}
    {{ template "_internal/google_news.html" . }}
    {{ template "_internal/schema.html" . }}
    {{ template "_internal/twitter_cards.html" . }}
</head>