<nav class="navbar shadow navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/"><img class="d-inline-block align-top" src="https://www.okabrionz.com/img/brionz.svg" width="30" height="30" alt="{{.Site.Title}}"> {{.Site.Title}}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            {{ $currentPage := . }}
            <ul class="navbar-nav ml-auto">
                {{ range .Site.Menus.main }}
                {{ if .HasChildren }}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="{{.URL}}" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ .Pre }}
                        <span>{{ .Name }}</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {{ range .Children }}
                        <a class="dropdown-item" href="{{.URL}}">{{.Name}}</a>
                        {{ end }}
                    </div>
                </li>
                {{else}}
                <li class="nav-item">
                    <a class="nav-link{{ if $currentPage.IsMenuCurrent "main" . }} active{{ end }}" href="{{.URL}}">
                        {{ .Pre }}
                        <span>{{ .Name }}</span>
                    </a>
                </li>
                {{end}}
                {{end}}
            </ul>
            <form class="form-inline my-2 mx-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>


<div class="jumbotron lunada text-white text-center">
    <h1 class="display-3">{{.Title}}</h1>
</div>